:root{
    --brwn-clr: #C74817;
    --contact-clr: #D3A863;
    --clr-black: #131313
    --bg-clr: #F7F3F0;
    --clr-txt-black: #3C3C3C;

    --font-size: calc(1vw + 1vh);
    --font-size-header: clamp(1rem, 4.5vw, 5rem);
    --font-size-pars: clamp(.5rem, 2.5vw, 1rem);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open_Sans';
    src: url(./font/OpenSans.ttf);
}

body{
    background-color: #F7F3F0;
    font-family: 'Open_Sans';
    // overflow: hidden;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}




.main_header{
    .navbar{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 117px;
        width: 100%;
        position: relative;

        .btnOpen{
            display:none;
        }
        .btnClose{
            display:none;
        }
    
        .navbar_inner{
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color:var(--clr-txt-black);
                padding-inline: 1rem;
                transition: all .25s ease;

                &:hover{
                    color: var(--brwn-clr)
                }
            }
            button{
                margin-inline: 1rem;
                background-color:var(--brwn-clr);
                outline:none;
                border:none;
                padding-inline:1.5rem;
                padding-block:.7rem;
                color:white;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: bold;
                transition: all .25s ease;

                &:hover{
                    background-color:var(--contact-clr);
                }
            }
        }

        .navbar_toggleMenu{

            position: fixed;
            z-index: 1;
            height: 100vh;
            background-color: white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            top:0;
            right: 0;
            padding:1rem;

            .navbar_toggleMenu__inner{
                display:flex;
                flex-direction: column;
                
                a{
                    padding:1rem 3rem;
                    transition: all .25s ease;
                    text-decoration: none;
                    color:black;

                    &:hover{
                        background-color: #969696e1;
                    }
                }

                button{
                    padding: 1rem 2rem;
                    border:0;
                    outline:none;
                    background: var(--brwn-clr);
                    color:white;
                    letter-spacing: 2.4px;
                    font-weight: bold;
                    text-transform: uppercase;
                    transition: all .25s ease;
                    cursor: pointer;

                    &:hover{
                        background-color:var(--contact-clr);
                    }
                }
            }
        }

    }

    .header_block{
        display:flex;
        justify-content: space-between;
        align-items: center;

        img{
            width: 100%;
        }

        .header_block_info{
            display:flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: start;
            gap:1rem;

            h2{
                font-size: calc(var(--font-size) / .9);
                letter-spacing: 5px;
            }
    
            h1{
                text-transform: uppercase;
                font-size: calc((var(--font-size) * 5));
                letter-spacing: 0px;
                line-height: 113px;
                transform: translate(-11px,0);
            }
            
            p{
                color: #383838;
                font-size: calc(var(--font-size) / 1.1);
            }

            .btnView{
                padding: 1rem 2rem;
                border:0;
                outline:none;
                background: var(--brwn-clr);
                color:white;
                letter-spacing: 2.4px;
                font-weight: bold;
                text-transform: uppercase;
                transition: all .25s ease;
                cursor: pointer;

                &:hover{
                    background-color:var(--contact-clr);
                }
            }
        }
        

    }   

}



.products_main{
    margin-top: 10rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    .texts{
        text-align: center;
        max-width: 600px;
        word-break: break-word;
        
        h1{
            font-size: 48px;
        }
    }

    .products{
        display:flex;
        gap:2rem;
        cursor: grab;
        
        .jar_div{
            display:flex;
            flex-direction: column;
            gap:1rem;
            justify-content: center;
            align-items: center;
            transform: translateX(92%);

            min-width: 20%;
            

            p{
                text-align:center;
                color: var(--clr-txt-black)
            }

            h1, span{
                font-weight: bold;
                text-transform: uppercase;
            }

            span{
                color: var(--brwn-clr);
            }
            
            button{
                padding: 1rem 2.5rem;
                background-color: var(--brwn-clr);
                color:white;
                outline:none;
                border:none;
                transition:all .25s ease;
                border-radius: .3rem;
                cursor: pointer;
            }
            button:hover{
                background-color: var(--contact-clr);
            }
        }
    }
}

.products_outside{
    position: relative;

    .arrow_btn{
        position: absolute;
        top:55%;
        padding:1rem;
        background: none;
        outline:none;
        border:none;
        cursor: pointer;
    }
    .arrow_btn1{
        left:-6%;
        // transform: translateX(-50%);
    }
    .arrow_btn2{
        left:100%;
    }
}

.reviews_inner{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10rem;

    .reviews_card{
        display:flex;
        align-items: center;
        gap:2rem;

        .reviews_card__info{
            display:flex;
            flex-direction: column;
            gap:2rem;

            animation: reviewFadeIn .5s;

            .reviews_card__text{
                color: #5B5858
            }

            .reviews_card__name{
                text-transform: uppercase;
            }

            .reviews_card__prof{
                color:var(--brwn-clr);
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}
.review_inActive{
    animation: reviewFadeOut .5s;
    display: none;
}
@keyframes reviewFadeOut {
    0%{
        opacity: 100%;
    }
    25%{
        opacity: 75%;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 25%;
    }
    100%{
        opacity: 0%;
    }
}
@keyframes reviewFadeIn {
    0%{
        opacity: 0%;
    }
    25%{
        opacity: 25%;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }
}


.gallery_main{
    position: relative;

    margin-top: 5rem;

    .gallery_inner{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:2rem;
        
        p{
            color:#585858;
            font-size: var(--font-size-pars);
        }

        h1{
            text-align: center;
            font-size:var(--font-size-header);
        }

        
    
        .gallery__photos{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-wrap:wrap; 
            gap:1rem;

            img{
                cursor: pointer;
            }
        }

        .backdrop{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #000000e1;
            display:flex;
            justify-content: center;
            align-items: center;

            .modal{

                display:flex;
                flex-direction: column;
                align-items: center;
                gap:2rem;

                img{
                    width: clamp(50%, 700px, 120%);
                    height: min(50%, 300px);
                }

                button{
                    padding: 1rem 2.5rem;
                    background-color: var(--brwn-clr);
                    color:white;
                    outline:none;
                    border:none;
                    transition:all .25s ease;
                    border-radius: .3rem;
                    cursor: pointer;
                }
                button:hover{
                    background-color: var(--contact-clr);
                }
            }
        }
    
    }
}


.newsletter_main{
    margin-block: 5rem;

    .newsletter_inner{
        display:flex;
        justify-content: center;
        align-items: center;

        .newsletter__signup{

            h1{
                font-size: var(--font-size-header);
            }
            
            p{
                color:#585858;
                padding-block:clamp(.5rem, 2.5vw, 1rem);
                font-size: var(--font-size-pars);
            }

            input{
                width: 70%;
                padding:1rem;
                
                margin-right: .4rem;
            }

            .btn_sub{
                padding: 1.12rem 2.5rem;
                background-color: var(--brwn-clr);
                color:white;
                outline:none;
                border:none;
                transition:all .25s ease;
                text-transform: uppercase;
                cursor: pointer;
            }

            .btn_sub:hover{
                background-color: var(--contact-clr);
            }
        }
    }
}


.types_main{

    .types_inner{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            font-size:var(--font-size-header)
        }

        p{
            font-size:var(--font-size-pars)
        }

        .types_cards{
            display:grid;
            grid-template-columns: repeat(2, 1fr);
            gap:2rem;
            margin-top: 1rem;   

            .type_card_inner{
                display:flex;
                justify-content: center;
                align-items: center;

                background-color: white;
                padding:2rem;
                gap:1rem;
                transition: all .4s ease;

                &:hover{
                    -webkit-box-shadow: 0px 3px 73px -19px rgba(34, 60, 80, 0.2);
                    -moz-box-shadow: 0px 3px 73px -19px rgba(34, 60, 80, 0.2);
                    box-shadow: 0px 3px 73px -19px rgba(34, 60, 80, 0.2);
                }

                h1{
                    font-size: 26px;
                }
                
                p{
                    padding-block:1rem;
                    color:#585858;
                    font-size:var(--font-size-pars)
                }

                button{
                    background: none;
                    border:none;
                    text-transform: uppercase;
                    color:var(--brwn-clr);
                    font-weight: bold;
                    cursor: pointer;
                    transition: all .25s ease;

                    &:hover{
                        color:var(--contact-clr)
                    }
                }
                
            }
        }
    }

    
}


.footer_main{
    margin-top: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;

    p{
        color:#585858
    }
    
    .socials{

        display:flex;
        gap:1rem;

        .icons{
            font-size:1.1rem;
            padding:1rem;
            border-radius: 50%;
            display:flex;
            align-items: center;
            color:white;
            background-color: #C74817;
        }
    }
}