*{
    margin:0;
    padding:0;
    font-family:'montserrat'
}

:root{
    --soft-grey:rgba(238, 238, 238, 50%);
    --clr-ornge: #fe5f1e;
}

.wrapper{
    max-width: 90%;
    margin:0 auto
}

.pizza_block{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:5rem
}

.categories{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.sortArray{
    color:var(--clr-ornge);
    text-decoration: underline;
    text-decoration-style: dotted;
    padding-inline: 1rem;
    cursor: pointer;
}

.popUp{
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 1rem;

    /* padding:1rem; */
    position: absolute;
}

.popUp > *{
    margin-block: 1rem;
    padding:1rem;
    color:var(--clr-ornge);
    transition: all .10s ease-in;
    cursor: pointer;
}

.popUp > *:hover{
    background-color:#fa825320
}

.notActive{
    display:none;
    overflow: hidden;
}

.sortActive{
    background-color:#fa825320;

}